body{
    margin: 0px;
    background-color: black;
    color:white;
    font-family: 'Press Start 2P';
  }
canvas{
  position: fixed;
  border:solid;
  border-color:#c0c0c0;
  box-sizing: border-box;
}
#GameControls1{
    opacity:0.5;
    border-width:1vw;
    box-sizing: border-box;
    position: fixed;
    bottom:0;
    width:30vw;
    height:30vw;
    border: outset;
    border-color:grey;
    background-color: lightgrey;
  }
  .up{
    opacity:inherit;
    box-sizing: border-box;
    position: absolute;
    width: 30%;
    height: 30%;
    transform: rotate(-90deg);
   left:35%; 
  }
  .down{
    opacity:inherit;
    box-sizing: border-box;
    position: absolute;
    width: 30%;
    height: 30%;
    transform: rotate(90deg);
    bottom:0;
    left:35%;
  }
  .left{
    opacity:inherit;
    box-sizing: border-box;
    position: absolute;
    width: 30%;
    height: 30%;
    transform: rotate(180deg);
    top:35%;
  }
  .right{
    opacity:inherit;
    box-sizing: border-box;
    position: absolute;
    width: 30%;
    height: 30%;
    top:35%;
    right:0;
  }
  .gui{
    position:absolute;
    font-family: 'Press Start 2P';
    z-index: 100;
  }
  #Stats1{
    color:white;
    font-family: 'Press Start 2P';
    position: fixed;
    width:100%;
    text-align: center;
    top: 4px;
  }
  #Settingsbtn{
    position: fixed;
    right:0;
    bottom:0;
  }
#SettingsPanel{
  position: fixed;
  border:inset;
  border-color:darkgray;
  box-sizing: border-box;
  left:1vw;
  top:1vh;
  width:98vw;
  height:98vh;
  background-color:grey;
}
button{
  font-size: inherit;
}
div{
  font-size: inherit;
}
  @font-face {
    font-family:'Press Start 2P';
    src: url("PressStart2P-Regular.ttf") format("truetype");
  }